.ficheLogement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;

  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1240px;
  border-radius: 25px;
  gap: 30px;
  margin: auto;
  margin-bottom: 50px;

  &__PartOne {
    display: flex;
    max-width: 1240px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__PartTwo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    .collapse {
      max-width: 582px;
      width: 100%;
    }
  }
}

.titleandLocation {
  color: $mainColor;
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 18px;
  }
  .Tag {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;

    .tag-container {
      background-color: $mainColor;
      color: $whiteColor;
      min-width: 115px;
      padding: 5px 15px;
      text-align: center;
      border-radius: 10px;
    }
  }
}

.hostandRating {
  gap: 30px;

  .Rating {
    text-align: right;
  }

  .host {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;

    p {
      max-width: 100px;
      width: 100%;
      text-align: right;
    }
    img {
      border-radius: 95px;
      max-width: 64px;
      width: 100%;
      max-height: 64px;
      height: 100%;
    }
  }
}

@media (max-width: 576px) {
  .ficheLogement {
    padding: 20px;
    &__PartOne,
    &__PartTwo {
      flex-direction: column;
      gap: 20px;
    }
  }

  .hostandRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
}
