header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 15px;

    .img_logo {
    height: 68px;
    width: 210px;
    }
    
}