.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: $graybackground;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1240px;
  border-radius: 25px;
  gap: 50px;
  margin: auto;
  margin-bottom: 50px;
  padding: 50px 0px;
}
