.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .img_banner {
    object-fit: cover;
    height: 223px;
    border-radius: 25px;
    max-width: 1240px;
    width: 100%;
    gap: 15px;
    filter: brightness(60%);
    margin-bottom: 50px;
  }

  .banner_txt {
    position: absolute;
    margin-top: 0;
    font-size: 48px;
    color: $whiteColor;
    font-family: "Montserrat", sans-serif;
  }
}

@media (max-width: 767px) {
  .banner {
    .banner_txt {
      padding: 0px 40px;
    }
  }
}
